.btn {
    border: none;
    padding: 9px 15px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background: $primary-color;
    border-radius: 5px;
    font-family: inherit;
    box-shadow: 0px 10px 20px 0px #000000 15%;

    &:hover {
        background-color: darken($primary-color, 2);
        box-shadow: 0px 20px 40px 0px #000000 20%;
    }
}

a.btn {
    color: #ffffff;
    text-align: center;
}
